<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dika.sipelas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ruangan"></activity>
        <activity android:name=".DataRuang" />
        <activity
            android:name=".Notifikasi"
            android:parentActivityName=".DashboardUser" />
        <activity
            android:name=".DetailPeminjaman"
            android:parentActivityName=".dataPeminjaman" />
        <activity android:name=".DataJadwal" />
        <activity
            android:name=".DataUser"
            android:parentActivityName=".DashboardAdmin" />
        <activity
            android:name=".dataPeminjaman"
            android:parentActivityName=".DashboardAdmin" />
        <activity
            android:name=".FormPeminjaman"
            android:parentActivityName=".DashboardUser" />
        <activity android:name=".Profil" />
        <activity android:name=".DashboardUser" />
        <activity android:name=".DashboardAdmin" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".DataUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>